/* ALL */

/* SECTION 1*/
#section-1-pfp > img {
    width: 150px;
    border-radius: 150px;
    margin-top: 15px;
}

#section-1-name {
    margin-top: 5px;
    font-size: 22px;
}

#section-1-profession {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.section-1-title {
    font-size: 20px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.233);
}

#section-1-description {
    margin-top: 10px;
    padding: 25px 25px 0 25px;
}

#section-1-description p {
    padding: 11px;
}

/* SECTION 2 */

#section-2 .section-pre-div {
    background: white;
}

#section-2-graduation {
    background: rgb(63, 81, 181);
    padding: 4px;
    margin: 7px 11px 0 11px;
    color: white;
}

/* SECTION 4 */

.project-left {
    position: relative;
    right: 90%; /* -650px; */
}

.project-right {
    position: relative;
    left: 90%; /* calc(15% * -1) */
}

.project-btn {
    /*border: 1px solid red;*/
    height: 100%;
    width: 50%;
    z-index: 9;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;

    /* border-radius: 300px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

#project-btn-left {
    left: -300px;
    background: rgb(2,6,37);
    background: linear-gradient(90deg, rgba(2,6,37,0.5256477591036415) 35%, rgba(5,20,38,0) 100%);
}

#project-btn-left div {
    font-size: 150px;
    position: absolute;
    right: 200px;
}

#project-btn-right {
    right: -300px;
    background: rgb(5,20,38);
    background: linear-gradient(90deg, rgba(5,20,38,0) 0%, rgba(2,6,37,0.5256477591036415) 100%);
}

#project-btn-right div {
    font-size: 150px;
    position: absolute;
    left: 200px;
}

.project-btn:hover {
    opacity: 100%;
}



#section-4-projects-list {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
}

.section-4-main-div {
    position: absolute;
    padding: 0;
    width: 800px;
    height: 400px;
    /* transition: all 0.5s; */
}

.section-4-project {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.322);
    text-align: left;
}

.section-4-img {
    width: 50%;
    float: left;
}

.section-4-img > img {
    width: 100%;
}

.section-4-content {
    float: left;
    padding: 25px;
    width: calc(50% - 50px);
    text-align: justify;
    background: #121218;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-4-content > p {
    margin-bottom: 5px;
    font-size: 19px;
    text-decoration: underline;
}

.section-4-content-line {
    float: left;
    height: 2px;
    width: 50%;
    background-color: #272930;
}

.section-4-list {
    display: block;
}

.section-4-p-left {
    width: 30%;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-4-p-right {
    width: 50%;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-4-btn1 {
    position: relative;
    cursor: pointer;
    color: black;
    background: white;
    padding:  3px 7px;
    margin: 0 10px 10px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    float: left;
    z-index: 10;
}

.section-4-shield-list {
    float: left;
    width: calc(50% - 20px);
    padding: 10px;
}

.section-4-btn1:hover {
    background: rgba(255, 255, 255, 0.808)
}

.section-4-shield, .section-4-shield p {
    float: left;
    margin: 0 5px 0 0;
}

/* SECTION 5 */

#social-medias {
    background: rgba(255, 255, 255, 0.884);
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

.social-media-icon-div {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.section-5-sub-div {
    /* border: 1px solid red; */
    float: left;
    width: calc(50%);
    height: 100%;
    text-align: left;
}

.section-5-sub-div p {
    overflow: hidden;
}

.section-5-title {
    font-size: 18px;
    font-weight: bold;
}

#section-5 .section-4-btn1 {
    float: none;
    margin: 5px 0;
}

.div-margin {
    margin-top: 13px;
}

@media screen and (max-width: 1050px) {
    .project-left {
        right: 98%;
    }
    
    .project-right {
        left: 98%; 
    }
}

@media screen and (max-width: 860px) {
    .section-4-img {
        display: none;
    }

    .section-4-main-div {
        width: 400px;
    }

    .section-4-content, .section-4-shield-list {
        width: calc(100% - 50px);
    }
    .project-left {
        right: 85%;
    }
    
    .project-right {
        left: 85%; 
    }

    #project-btn-left {
        left: -20%;
    }

    #project-btn-right {
        right: -20%;
    }
}

@media screen and (max-width: 600px) {
    .section-4-img {
        display: none;
    }

    #section-4-projects-list {
        height: 100%;
    }

    .section-4-main-div {
        height: auto;
        width: 80%;
    }

    .section-4-content {
        width: calc(100% - 30px);
        padding: 15px;
    }

    .section-4-shield-list {
        width: calc(100% - 20px);
    }

    .project-left {
        right: 95%;
    }
    
    .project-right {
        left: 95%; 
    }
}

@media screen and (max-width: 470px) {
    #section-5 .section-5-sub-div {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 380px) {
    .section-border-big {
        width: auto;
    }
}